<div class="row d-flex justify-content-between">
    <div class="col-md-5">
        <div class="form-inline">
            <input class="form-control" ng-model="$ctrl.query" placeholder="Search" />
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="form-inline">
            <label for="sortBy" style="margin-right:5px">Sort by: </label>
            <select id="sortBy" class="form-control" ng-model="$ctrl.orderProp">
                    <option value="-type">Academic-General</option>
                    <option value="-year">Newest</option>
                    <option value="duration">Duration</option>
                    <option value="title">Title</option>
            </select>
        </div>
    </div>
</div>

<ol reverse class="video" style="min-height:400px">
                    <li ng-repeat="video in $ctrl.video | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm">
                              <dd> <span>{{video.author}}</span> |
                              <span>{{video.year}}.{{video.month}}.{{video.date}}</span> |
                              <span>Duration: {{video.duration}} min </span> | <span>{{video.location}}</span> </dd>
                              <dd>
                              <span style="font-size: 14px; font-weight:bold"> <a target="_blank" href="{{video.url}}"> {{video.title}} </a> </span>
                              </dd>
                              <dd> <span>{{video.area}} | {{video.theme}} </span> </dd>
                              <dd><span> {{video.description}}</span> </dd>
                            </div>
                            <div class="col-sm">
                              <iframe width="560" height="315" src={{video.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            </div>

                          </div>
                        </div>
                    </li>
</ol>
