<div class="row d-flex justify-content-between">
    <div class="col-md-5">
        <div class="form-inline">
            <input class="form-control" ng-model="$ctrl.query" placeholder="Search" />
        </div>
    </div>
    <div class="col-md-5 col-lg-4">
        <div class="form-inline">
            <label for="sortBy" style="margin-right:5px">Sort by: </label>
            <select id="sortBy" class="form-control" ng-model="$ctrl.orderProp">
                    <option value="-type">Academic-General</option>
                    <option value="-year">Newest</option>
                    <option value="duration">Duration</option>
                    <option value="title">Title</option>
            </select>
        </div>
    </div>
</div>

<ol reverse class="videos" style="min-height:400px">
                    <li ng-repeat="videos in $ctrl.videos | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm">
                              <dd> <span>{{videos.author}}</span> |
                              <span>{{videos.year}}.{{videos.month}}.{{videos.date}}</span> |
                              <span>Duration: {{videos.duration}} min </span> | <span>{{videos.location}}</span> </dd>
                              <dd>
                              <span style="font-size: 14px; font-weight:bold"> <a target="_blank" href="{{videos.url}}"> {{videos.title}} </a> </span>
                              </dd>
                              <dd> <span>{{videos.area}} | {{videos.theme}} </span> </dd>
                              <dd><span> {{videos.description}}</span> </dd>
                            </div>
                          <div class="col-sm">
                              <iframe width="560" height="315" src={{videos.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                          </div>

                          </div>
                        </div>
                    </li>
</ol>
